// This is for creating extra buttons
// Mixin for creating additional buttons:
//      button-variant($color, $background, $border)
input[type=submit] {
  background: transparent;
  font-size: 12px;
  letter-spacing: 0;
  padding: 1.25em 5em;
  border: 1px solid transparent;


  &:focus, &:active {
    background: $sherpa-brand-primary;
  }

  &.btn.btn-outline {
    &:hover {
      background: $white;
      color: $sherpa-brand-primary;
    }
  }

  &.btn-alt {
    background: rgba(255,255,255,0.27);
    color: $white;
  }

  &:hover {
    background: $white;
    color: $sherpa-brand-primary;
  }
}

.btn,
.btn-success {
  padding: 1.25em 5em;
  font-size: 15px;
  font-weight: 600;
  color: $white;
  border: 0;
  border-radius: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: relative;
  background: $sherpa-brand-primary;
  @include montserrat();
  letter-spacing: $letterSpacing;
  text-transform: uppercase;
  font-size: 11px;
  border: 1px solid transparent;

  &.btn-gradient {
    @include bg-gradient(left, $list4);
  }
 

  &:hover,
  &:focus,
  &:active,
//   &:visited,
  &:hover:focus,
  &:hover:active,
  &:hover:visited {
    color: $sherpa-brand-primary;
    background: $sherpa-secondary-color;
    border: 1px solid $sherpa-brand-primary;
  }

  &.btn-transparent {
    background: transparent;
    text-transform: uppercase;
 
    &::before {
      display: none;
    }

    &:hover::before {
      display: none;
    }
  }

  &.btn-outline {
    background: transparent;
    color: $white;
    overflow: hidden;
    border: 1px solid $white;

    span {
      background: $white;
      transform: translate3d(0, 0, 0);
      padding: 1em 2em;
      top: 1px;
      margin: 1px;
      -webkit-backface-visibility: inherit;
    }

    &:hover,
    &:focus,
    &:active,
    &:visited,
    &:hover:focus,
    &:hover:active,
    &:hover:visited {
      background: $sherpa-brand-primary;
    }
  }

  &.btn-default,
  &.btn-primary {
    &:hover,
    &:focus {
      color: $sherpa-brand-primary;
      background: $white;
      border-color: $sherpa-brand-primary;
    }
  }

  &.btn-border {
    background: transparent;
    color: $white;
    border: 3px solid $white;

    &:hover {
      color: $white;
    }
  }

  &.btn-register {
    padding: 24px 31px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 9px;
    padding: 1.5em 2em;
  }
}

// .btn-read-more {
//   margin-top: auto;

//   &:hover {
//     color: $white;
//   }

//   &.btn-border {
//     background: rgba(41, 41, 44, 0.63);
//     color: $white;

//     &:hover {
//       color: $white;
//       background: $sherpa-brand-primary;
//     }
//   }
// }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}
