.banner-header {
  background: url("../img/bg-banner-header.jpg") 0 0 no-repeat;
  background-size: cover;
  height: 269px;
  display: flex;
  justify-content: center;
  align-items: center;

  .col-xs-12 {
    text-align: center;
  }

  .navbar-brand {
    display: block;
    margin: 0 auto;
  }

  img {
    height: 200px;
    margin: 0 auto;
  }
}

.top-header {
  display: flex;
  flex-direction: row;
  color: $black;
  padding: 0.75em 0;
  width: 100%;

  .navbar-right {
    //         margin-bottom: 1em;
    font-weight: 500;
    text-align: right;
  }

  @include media-breakpoint-down(md) {
    background: rgba(80, 83, 91, 0.51);
    color: $white;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    z-index: 99;

    .navbar-right {
      margin-bottom: 0;
      flex-wrap: wrap;
      display: flex;
      justify-content: flex-end;
    }

    a {
      color: $white;
      font-weight: 600;
    }
  }
}

.internal .top-header {
  @include media-breakpoint-up(lg) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.internal .navbar-right {
  margin-bottom: 0;
}

.v-align {
  display: flex;
  justify-content: space-between;
}

.home-module-1 .v-align {
  @include media-breakpoint-up(lg) {
    padding: 1em 2em;

    .list-inline {
      font-size: 0.75em;
    }

    .list-inline li {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .list-inline li a {
      color: rgba(255, 255, 255, 1);
    }

    .navbar-nav li a {
      color: rgba(255, 255, 255, 1);
    }
  }
}

#header-logo {
  position: relative;
  z-index: 9999;

  img {
    height: 51px;
  }

  @include media-breakpoint-down(lg) {
    padding: 10px 20px;
    

    img {
      height: 23px;

    }
  }
}

.primary-menu {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
}

// body.internal {
//     @include media-breakpoint-up(lg) {
//         .top-header {
//             background: $white;
//             color: $black;
//         }
//     }
// }


.jumbo-container {
  flex: 1;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 472px;

  .primary-menu {
    position: relative;
    display: flex;
    justify-content: space-between;

    .navbar-dark .navbar-nav .nav-link {
      color: #606060;
      font-weight: 300;
      font-size: 15px;
    }
  }
}

.primary-menu {
  padding: 1em 2.5em;
}