.home-module-5 {
  background: url('../img/bg-city.jpg') center center no-repeat;
  background-size: cover;
  color: $white;
 
  p {
    color: $white;
    margin-bottom: 0;
    line-height: 1.5;
  }

  .extra-padding {
    padding: 7em 5em 8em 5em;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 2em;
  }
}
