.home-module-4 {
  background: #F1F1F1;
  padding: 97px 0;

  h2 {
    @include serif();
    font-size: 27px;

    &::after {
      content: '';
      border-bottom: 2px solid $sherpa-secondary-color;
      width: 24%;
      height: 2px;
      display: block;
      margin-top: 1em;
      margin-bottom: 1.5em;
    }
  }

  p.blurb {
    font-size: 18px;
    margin-bottom: 1.75em;
  }

  .col:last-child {
    
    .extra-padding {
      padding-left: 50px;
      padding-right: 70px;
    }
  }
}
