.home-module-3 {
    background: #696b6d url('../img/banner-summus.jpg') center center no-repeat;
    background-size: 50%;
    text-align: center;
    color: $white;
    min-height: 492px;
    display: flex;
    align-items: center;
    justify-content: center;


    h2 {
        font-size: 18px;
        font-weight: bold;
    }
    

    p {
        color: $white;
        font-style: italic;
        font-weight: bold;
    }


}