.home-module-3 {

 .contact-ribbon {
   background: rgba(24, 76, 155, 0.27);
   text-align: right;
   color: #4D4D4D;
   margin-top: 60px;

   a {
     color: $sherpa-brand-primary;
   }
 }



 h2 {
     margin: 67px 0;

     &.text-center {
         &::after {
              content: '';
              border-bottom: 2px solid $sherpa-secondary-color;
              width: 15%;
              height: 2px;
              display: block;
              margin: .5em auto;
            }
     }
 }

 .container.three-col {

     > div {
         @include dropshadow();
     }

     .h2 {
         background: #B2B2B2;
         color: $white;
         text-align: center;
         font-weight: 400;
         margin-bottom: 0;
         @include serif;
         padding: 1em 0;
         font-size: 26px;
     }
 }

 .three-columns {
     display: flex;

     .img-container {
         height: 250px;
         position: relative;
         overflow: hidden;

         img {
             position: absolute;
             left: 0;
             top: 0;
             width: 100%;
         }
     }

     > div {
         width: 33.33%;
     }

     > div:nth-child(odd) {
         background: #E4E7E9;
     }
 }

 .column-top {
     background: $sherpa-brand-primary;
     color: $white;
     text-align: center;
     padding: 1em 0;

     p {
         @include serif();
         margin-bottom: 0;
         font-size: 19px;
     }
 }

 .extra-padding {
     padding: 45px 70px;

     p {
         font-size: 13px;
     }

     strong {
         font-size: 16px;
     }
 }


 .bottom {
     background: rgba(24, 76, 155, 0.7);
     color: $white;
     text-align: center;
     padding: 1em 0;
    
    p {
     margin-bottom: 0;
    }
 }

 .bottom-end {
     
     ul, p {
         font-size: 14px;
     }

     ul {
         column-count: 2;
         list-style: none;
         padding-left: 0;
         margin-bottom: 0.5em;
     }

     li {
         margin-bottom: 1em;
     }

     p {
         margin-bottom: 0;
     }
 }


}
