.home-module-4 {
  background: #F1F1F1;
  padding: 97px 0;

  h2 {
    @include serif();
    &::after {
      content: '';
      border-bottom: 2px solid $sherpa-secondary-color;
      width: 20%;
      height: 2px;
      display: block;
      margin-top: .5em;
    }
  }
}
