.home-module-7 {
    padding: 97px 0;

    p {
        color: #808080;
        font-size: 18px;
        font-weight: 300;
    }

    h2 {
        font-size: 26px; 
    }

    @include media-breakpoint-down(lg) {
      padding-top: 15px;
      text-align: center;
      padding-top: 2em;
      padding-bottom: 1em;

      img {
          margin-bottom: 1em;
      }

      .col:last-child .extra-padding {
        padding-left: 15px;
        padding-right: 15px;
      }

      p {
        font-size: 13px;
      }

      h2 {
        position: relative;
        text-align: center;
        font-size: 14px;
        margin-top: 2em;
        margin-bottom: 1.5em;
      }

      p.blurb {
        margin-top: 3em;
        font-size: 14px;
      }

      h2::after {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
      }
  }
}