.home-module-5 {

  .shadow {
    text-align: center;
    @include dropshadow();

    h2 {
      margin: .75em 0 0;
      font-size: 27px;
      line-height: 1.5;
    }
  }

  text-align: center;

  .col {
    padding: 2.5em 0;
  }
  
  p:last-child {
    margin-bottom: 0;
  }

  .container:last-child .col {
    padding: 3em 0;
  }

  .extra-padding {
    padding: 1em 0;
  }

  p.blurb {
    font-size: 20px;
    margin-bottom: 1em;
  }
 

  @include media-breakpoint-down(lg) {

    p.blurb {
      font-size: 14px;
    }

    .extra-padding {
      padding-left: 30px;
      padding-right: 30px;
    }

    .container:last-child .col {
      padding: 2em 0; 
    }

    .row .col:first-child {
      order: -1;
    }

    p {
      font-size: 14px;
    }

    img {
      margin-top: 0;
      margin-bottom: .25em;
      height: 66px;
    }

    .shadow h2 {
      font-size: 14px;
      line-height: 1.5;
    }

  }
}
