.home-module-5 {

  .shadow {
    text-align: center;
    @include dropshadow();

    h2 {
      margin: 1em 0 0;
    }
  }

  text-align: center;

  .col {
    padding: 2.5em 0;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
 

  @include media-breakpoint-down(lg) {
    .row .col:first-child {
      order: -1;
    }

    img {
      margin-top: 0;
      margin-bottom: 2em;
    }

  }
}
