.home-module-2 {
  background: $white;
  border-bottom: 1px solid #CBCBCB;

  img {
    @include dropshadow();
  }

  .h2::after {
    border-bottom: 0;
  }

  h2.h4 {
    text-align: center;
    @include serif();
    padding: 1.25em 0;
    font-size: 27px;
  }

  ul {
    text-align: center;
  }

  .frame {
    background: #F1F1F1;
    padding: 2em 1.5em;
    display: inline-block;

    h2 {
      font-size: 18px;
      color: #000;
      padding: 1.5em 0 0;
      margin-bottom: 0;
    }
  }

  .col {
    display: flex;

  }

  @include media-breakpoint-up(lg) {
    padding: 5em 0;

    

    .frame {
      margin-top: 1.5em;
      margin-bottom: 3.5em;

      &.align-right {
        margin-left: auto;
        
      }

      &.align-left {
        margin-right: auto;
      }
    }
  }

  @include media-breakpoint-down(lg) {

    padding: 2em 0;

    .frame {
      margin-top: 1.5em;
      margin-bottom: 3.5em;

      &.align-right {
        margin: 0 auto 2em;
      }

      &.align-left {
        margin: 0 auto 2em;
      }
    }

    h1 {
      font-size: 15px;
    }

    h2 {
      font-size: 13px;
      margin-bottom: 1em;
    }

    .frame {
      margin-bottom: 2em;
    }


    h2.h4 {
      font-size: 14px;
      margin-bottom: 0;
      padding: 2em 0;

      span {
        padding-right: calc(10px + 0.5em);
      }

      span::after {
        height: 10px;
        width: 10px;
      }
    }
  }
}
