.home-module-7 {
    @include bg-gradient(left, $list4, 1);
    text-align: center;
    color: $white;

    p {
        color: $white;
        margin-bottom: 1em;
    }

    .extra-padding {
        padding: 3em 0;
    }

    input[type="email"] {
        padding: 1em;
        width: 100%;
    }

    label {
        width: 100%;
    }

}