.home-module-7 {
    @include bg-gradient(left, $list4, 1);
    text-align: center;
    color: $white;

    p {
        color: $white;
        margin-bottom: 1em;
        font-size: 20px;
    }

   

    input[type="email"] {
        padding: 1em;
        width: 100%;
    }

    @include media-breakpoint-up(lg) {
         .extra-padding {
            padding: 5em 0;
        }

         input[type="email"] { 
            margin-bottom: 1.5em;
            max-width: 77%;
         }
    }

    label {
        width: 100%;
    }

}