.home-module-4 {
  background: #F1F1F1;
  padding: 97px 0;

  h2 {
    @include serif();
    font-size: 27px;

    &::after {
      content: '';
      border-bottom: 2px solid $sherpa-secondary-color;
      width: 24%;
      height: 2px;
      display: block;
      margin-top: 1em;
      margin-bottom: 1.5em;
    }
  }

  p.blurb {
    font-size: 18px;
    margin-bottom: 1.75em;
  }

  .col:last-child {
    
    .extra-padding {
      padding-left: 50px;
      padding-right: 70px;
    }
  }

  @include media-breakpoint-down(lg) {
      padding-top: 15px;
      text-align: center;
      padding-top: 2em;
      padding-bottom: 1em;

      .col:last-child .extra-padding {
        padding-left: 15px;
        padding-right: 15px;
      }

      p {
        font-size: 13px;
      }

      h2 {
        position: relative;
        text-align: center;
        font-size: 14px;
        margin-top: 2em;
      }

      p.blurb {
        margin-top: 3em;
        font-size: 14px;
      }

      h2::after {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
      }
  }
}
