#home-module-1 {
  position: relative;

  video {
    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    position: fixed;
  }

  .navbar-sherpa {
    z-index: 999;
    width: 100%;
  }

  
}


.menu-secondary-container {
    width: 100%;
  }

@include media-breakpoint-up(xl) {



    .primary-menu {
      position: absolute;
      right: 0;
      top: 0;

      
      .menu-primary-container {
        margin-left: auto;
      }
    }

    .navbar-right li {
      font-size: 15px;
      text-transform: none;
      letter-spacing: 0;
    }


    .secondary-menu .navbar-sherpa {
      padding: 0 0;
      bottom: 0;
      position: absolute;
      width: 100%;

      li {
        border: 1px solid #b2b2b2;
        border-left: 0;
      } 
 
       li {
        width: 33.33%;
        text-align: center;
      }

      li a {
        padding: 2em 0;
        font-size: 14px;
        letter-spacing: 2px;
        color: #fff;

        &:hover {
          background: $white;
          color: $sherpa-brand-primary;
        }
      }
    }

  
  } 


 @include media-breakpoint-down(lg) {

    .secondary-menu {
      .navbar-sherpa {
        position: relative;
      }
    }
  }
