.home-module-2 {
  background: $white;
  border-bottom: 1px solid #CBCBCB;

  img {
    @include dropshadow();
  }

  .h2::after {
    border-bottom: 0;
  }

  h2.h4 {
    text-align: center;
    @include serif();
    padding: 1.25em 0;
    font-size: 27px;

  }

  ul {
    text-align: center;
  }
}
