.jumbotron {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
//   height: 668px;
  margin-bottom: 0;
//   padding-top: 180px;

  h1, .h1 {
    line-height: 1;
    margin-bottom: .5em;
  }

  h2, .h2 {
    @include serif();
    color: $white;
    font-style: italic;
    font-size: 26px;
    position: relative;
    text-align: left;
    padding-bottom: .5em;
//     margin-top: auto;
  }

  h1, .h1 {
    @include montserrat();
    font-style: normal; 
    color: $white; 
    font-size: 42px;
  } 

  .h1 {
    margin-left: .9em;
    margin-top: 1.3em;
  }

  .jumbo-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }

  .contact-us {
    margin-bottom: auto;
  }

  .learn-more {
    margin-top: auto;
    color: $white;
    display: block;
  }

  @include media-breakpoint-down(lg) {

    .jumbo-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    h2, .h2 {

      font-size: 15px;
      
      &::after {
        width: 200px;
        height: 1px;
      }
    }

    .btn-transparent {
      font-size: 10px !important;
    }
  }

  .h1 {
    margin: 0 auto;
    text-align: center;
  }
} 

.internal .jumbotron {

  .h1 {
    text-transform: uppercase;
  }

  .h2 {
    margin-top: 0;
  }

  .h2::after {
    width: 362px;
  }

  #breadcrumbs {
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1px;
  }
}

