.ribbon {
  background: $sherpa-brand-primary;
  text-align: center;
  color: $white;
  @include serif();
  padding: 2em 0;

  h2 {
    margin-bottom: 0;
    @include serif();
    font-size: 27px;
  }

   @include media-breakpoint-down(lg) {
      h2 {
        font-size: 14px;
      }
   }
}

.ribbon-2 {
  @include gradient();
  @include acumin();
  color: $white;
  font-size: 44px;
  padding: 1em 0;
  letter-spacing: $letterSpacing;

  .col div {
    margin-top: -3px;
  }

  a {
    margin-left: 1em;
    display: flex;
  }

  @include media-breakpoint-down(lg) {
    font-size: 24px;
  }
}
